@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
}

.navBarCenter {
  display: flex;
  gap: 20px;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 12px 30px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
  transition: background-color 0.3s;
  background-color:rgba(248, 196, 255, 0) ;
  box-shadow: 2px;
}

.navbar a:hover {
  background-color: rgb(229, 171, 170); opacity: 0.8;;
}

.active {
  background-color: #04AA6D;
}

.login {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #04AA6D;
}

img {
  position: absolute;
  left: 10px;
  padding-top: 0px;
  margin: 0px;
  width: 80px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}